header {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header nav{
    display: flex;
    margin: 0 30px;
    
}
header nav a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 1.2rem;
}
#more{
    font-size: .6rem;
    border-radius: 10px;
    border:none;
    background-color: lightgrey;
    padding: 0 6px;
    margin: 0 5px;
    text-decoration: underline ;
}
#more:hover{
    cursor: pointer;
    font-size: .8rem;
}

#moreInfo img{
    width: 50%;
    margin: 0 25%;
    
}
.imgJayesh figcaption{
    text-align: center;
    font-weight: bold;
}
footer{
    text-align: center;
}
